PROJET ANALYSE

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data="/Users/user/Desktop/Data Analyse/creditCardFraude/data/creditcard_fraude.csv"
df=pd.read_csv(data)

In [5]:
df.head()

,trans_date_trans_time,merchant,category,amt,city,state,lat,long,city_pop,job,dob,trans_num,merch_lat,merch_long,is_fraud
0,2019-01-01 00:00:44,"""Heller, Gutmann and Zieme""",grocery_pos,107.23,Orient,WA,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,49.159047,-118.186462,0
1,2019-01-01 00:00:51,Lind-Buckridge,entertainment,220.11,Malad City,ID,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,43.150704,-112.154481,0
2,2019-01-01 00:07:27,Kiehn Inc,grocery_pos,96.29,Grenada,CA,41.6125,-122.5258,589,Systems analyst,1945-12-21,413636e759663f264aae1819a4d4f231,41.657520,-122.230347,0
3,2019-01-01 00:09:03,Beier-Hyatt,shopping_pos,7.77,High Rolls Mountain Park,NM,32.9396,-105.8189,899,Naval architect,1967-08-30,8a6293af5ed278dea14448ded2685fea,32.863258,-106.520205,0
4,2019-01-01 00:21:32,Bruen-Yost,misc_pos,6.85,Freedom,WY,43.0172,-111.0292,471,"""Education officer, museum""",1967-08-02,f3c43d336e92a44fc2fb67058d5949e3,43.753735,-111.454923,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1333 entries, 0 to 1332
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trans_date_trans_time  1333 non-null   object
 1   merchant               1333 non-null   object
 2   category               1333 non-null   object
 3   amt                    1333 non-null   float64
 4   city                   1333 non-null   object
 5   state                  1333 non-null   object
 6   lat                    1333 non-null   float64
 7   long                   1333 non-null   float64
 8   city_pop               1333 non-null   int64
 9   job                    1333 non-null   object
 10  dob                    1333 non-null   object
 11  trans_num              1333 non-null   object
 12  merch_lat              1333 non-null   float64
 13  merch_long             1333 non-null   float64
 14  is_fraud               1333 non-null   int64
dtypes: float64(5), int64(2), object(8)
memory usage: 156.3+ KB

In [7]:
df.is_fraud.value_counts()

0    1325
1       8
Name: is_fraud, dtype: int64

In [8]:
df.columns

Index(['trans_date_trans_time', 'merchant', 'category', 'amt', 'city', 'state',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'merch_lat',
       'merch_long', 'is_fraud'],
      dtype='object')

In [21]:
discr_feat = []
cont_feat = list(set(df.columns) - set(discr_feat)-{'is_fraud'})

In [22]:
df.isnull().values.sum()

0

In [23]:
df[cont_feat].describe()

,merch_long,long,city_pop,lat,amt,merch_lat
count,1333.000000,1333.000000,1.333000e+03,1333.000000,1333.000000,1333.000000
mean,-111.438674,-111.438044,9.601609e+04,39.869987,69.162273,39.861073
std,13.712197,13.698908,2.625325e+05,5.694163,125.879021,5.725748
min,-166.288628,-165.672300,4.600000e+01,20.027100,1.050000,19.165823
25%,-120.493701,-120.664900,4.670000e+02,36.715400,9.860000,36.878200
50%,-111.367562,-111.794100,1.517000e+03,39.741700,49.740000,39.636295
75%,-101.445631,-101.136000,3.488200e+04,42.277000,84.430000,42.374139
max,-89.015733,-89.628700,1.312922e+06,65.689900,3178.510000,66.645176

In [5]:
print(df.head().to_markdown())

|    | Date     | Country_Region   |   Province_State |   Difference | Prep_Flow_Runtime    | Latest_Date   | Case_Type   |   Cases |   Lat |   Long |
|---:|:---------|:-----------------|-----------------:|-------------:|:---------------------|:--------------|:------------|--------:|------:|-------:|
|  0 | 3/9/2020 | India            |              nan |            0 | 3/24/2020 9:39:03 AM | 3/23/2020     | Deaths      |       0 |    21 |     78 |
|  1 | 3/8/2020 | India            |              nan |            0 | 3/24/2020 9:39:03 AM | 3/23/2020     | Deaths      |       0 |    21 |     78 |
|  2 | 3/7/2020 | India            |              nan |            0 | 3/24/2020 9:39:03 AM | 3/23/2020     | Deaths      |       0 |    21 |     78 |
|  3 | 3/6/2020 | India            |              nan |            0 | 3/24/2020 9:39:03 AM | 3/23/2020     | Deaths      |       0 |    21 |     78 |
|  4 | 3/5/2020 | India            |              nan |            0 | 3/24/2020 9:39:03 AM | 3/23/2020     | Deaths      |       0 |    21 |     78 |